
<div class="container">
    <h1 class="title">List of Users</h1>
    <div class="col-12 text-right">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreate" ng-click="vm.setCurrentUser()">Create User</button>
    </div>

    <div class="table-responsive-lg">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in vm.users">
            <th scope="row">{{user.id}}</th>
            <td ng-click="vm.goToUserDetails(user.id)"><img ng-src="{{user.avatar}}" alt="{{user.first_name}} {{user.last_name}}" class="avatar" /></td>
            <td ng-click="vm.goToUserDetails(user.id)"> {{user.first_name}}</td>
            <td ng-click="vm.goToUserDetails(user.id)">{{user.last_name}}</td>
            <td>
              <ul class="list-inline row text-center">
                <li class="col-md-6 col-12" data-toggle="tooltip" data-placement="top" title="Edit"><button ng-click="vm.setCurrentUser(user.id, user)" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalEdit" ><i class="far fa-edit"></i></button></li>
                <li class="col-md-6 col-12" data-toggle="tooltip" data-placement="top" title="Delete"><button ng-click="vm.setCurrentUser(user.id)" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete"><i class="far fa-trash-alt"></i></button></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <!-- Modal Delete-->
    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Delete User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-success" role="alert" ng-show="vm.success">
              {{vm.successMsg}}
            </div>
            <div ng-hide="vm.success">Are you sure you want to delete user?</div>
          </div>
          <div class="modal-footer" ng-hide="vm.success">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger" ng-click="vm.deleteUser()">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Edit-->
    <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalLabelEdit" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabelEdit">Edit User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-success" role="alert" ng-show="vm.success">
                {{vm.successMsg}}
            </div>
            <form ng-hide="vm.success">
              <div class="form-group">
                <img ng-src="{{vm.userData.avatar}}" alt="" class="avatar edit-avatar" />
                <label for="exampleFormControlFile1" class="font-weight-bold">Choose Your Avatar</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" value="https://s3.amazonaws.com/uifaces/faces/twitter/bigmancho/128.jpg">
              </div>

              <div class="form-group">
                <label for="inputName" class="font-weight-bold">Name</label>
                <input type="text" class="form-control" id="inputName" ng-model="vm.userData.first_name">
              </div>

              <div class="form-group">
                <label for="inputLastName" class="font-weight-bold">Last Name</label>
                <input type="text" class="form-control" id="inputLastName" ng-model="vm.userData.last_name">
              </div>
            </form>
          </div>
          <div class="modal-footer" ng-hide="vm.success">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" ng-click="vm.updateUser()">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Create-->
    <div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="modalLabelCreate" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabelCreate">Create User</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="alert alert-success" role="alert" ng-show="vm.success">
                {{vm.successMsg}}
              </div>
            <form ng-hide="vm.success"> 
              <div class="form-group">
                <label for="exampleFormControlFile1" class="font-weight-bold">Choose Your Avatar</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1" value="https://s3.amazonaws.com/uifaces/faces/twitter/bigmancho/128.jpg">
              </div>

              <div class="form-group">
                <label for="inputName" class="font-weight-bold">Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Name"  ng-model="vm.userData.first_name">
              </div>

              <div class="form-group">
                <label for="inputLastName" class="font-weight-bold">Last Name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" ng-model="vm.userData.last_name">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success" ng-click="vm.createUser(vm.userData)">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>