<div class="container">
    <div class="card card-details" style="width: 18rem;">
        <img class="card-img-top" ng-src="{{vm.userData.avatar}}" alt="{{vm.userData.first_name}} {{vm.userData.last_name}}">
        <div class="card-body">
            <h5 class="card-title text-center"><p>ID: {{vm.userData.id}}</p> {{vm.userData.first_name}} {{vm.userData.last_name}}</h5>
        </div>
    </div>
    <div class="text-right">
        <input type="button" class="btn btn-primary" value="Back" onclick="history.back(-1)" />
    </div>
    
    
</div>