.container,
.title {
  color: #545050;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

.btn {
  margin: 10px 0;
}

th,
td {
  vertical-align: middle !important;
}

.modal-header {
  background-color: #3c50ad;
  color: #fff;
  text-transform: uppercase;
}

button.close,
button.close:hover {
  color: #fff;
}

.avatar {
  border: 3px solid #292828;
  border-radius: 5px;
  cursor: pointer;
}

.edit-avatar {
  display: block;
  margin: auto auto 10px auto;
}

.card-details {
  margin: 0 auto;
}